@tailwind base;
@tailwind components;
@tailwind utilities;

$darkBlue: #1113c2;
$body: #fef3c7;
$stroke: #111827;
$shadow: #ff2036;
$accent: #04cdec;

@font-face {
  font-family: "Altone";
  src: url("../public/fonts/altone-trial.regular.ttf");
}
@font-face {
  font-family: "Altone Bold";
  src: url("../public/fonts/altone-trial.regular.ttf");
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d13c3c #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #d13c3c;
  border-radius: 10px;
  border: 0px solid #000000;
}
.cont {
  @apply py-6 md:py-14 text-lg md:text-xl;
}

.font-size {
  @apply text-lg md:text-2xl;
}
// .bg-pattern {
//   background-image: repeating-linear-gradient(
//     -45deg,
//     rgba(255, 94, 94, 0.25),
//     rgba(79, 178, 232, 0.25) 1px,
//     transparent 1px,
//     transparent 6px
//   );
//   background-size: 5px 5px;
// }

// header {
//   height: 100px;

//   .inner-header {
//     @apply relative z-10 flex justify-between items-center;
//   }
//   .logo a {
//     @apply font-bold text-black;
//   }
// }
// // Nav Menu

// .hamburger-menu {
//   // display: none;
//   z-index: 9;
//   @apply max-w-7xl mx-auto fixed h-full w-full top-0 left-0 right-0 bottom-0;
// }

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
// #EADEDA

// $black: #00cdec;

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  .wrapper {
    padding: 0 24px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

header {
  z-index: 500;
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: black;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: $darkBlue;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      z-index: 50;
      background: white;
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        -webkit-filter: grayscale(40%);
      }
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          padding-top: 8rem;
          gap: 2rem;
          flex-direction: column;
          // align-items: start;
          position: relative;
          @media screen and (min-width: 768px) and (min-height: 400px) {
            align-items: center;
            // pad: 200px;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 10rem;
          }

          nav {
            display: block;
            width: 100%;
            ul {
              margin: 0;
              padding: 0;
              width: 100%;
              li {
                list-style: none;
                font-size: 2rem;
                font-weight: 700;
                font-weight: bolder;
                cursor: pointer;
                // height: 50px;
                // overflow: hidden;
                position: relative;
                max-width: 700px;
                width: fit-content;
                &:hover {
                  color: $darkBlue;
                }
                a {
                  position: absolute;
                  color: black;
                  text-decoration: none;
                }
              }
              @media screen and (min-width: 768px) {
                li {
                  font-size: 4rem;
                  height: 140px;
                }
              }
            }
          }
          .info {
            font-size: large;
            color: black;
            // width: 300px;
            max-width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
              font-weight: bolder;
            }
            p {
              margin: 0 auto;
              font-size: 0.9rem;
              line-height: normal;
            }
            @media screen and (min-width: 768px) {
              h3 {
                font-size: 1.2rem;
                margin: 8px auto;
                font-weight: bolder;
              }
              p {
                margin: 0 auto;
                font-size: 1.1rem;
              }
            }
          }
        }
        .locations {
          // position: absolute;
          overflow: auto;
          // bottom: -80px;
          color: black;
          margin-top: 2rem;
          padding: 1rem 0;
          font-size: 1.1rem;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 64px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: white;
              background: $darkBlue;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

// Swiper JS Smooth Scroll
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

// Offset Headers

// 04CDEC
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.stroke {
  @include stroke-width(2px);
  @include stroke-color($stroke);
  color: transparent;
}

.shadow {
  text-shadow: 6px 6px $shadow;
}

.stroke-shadow {
  font-size: 15vw;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  color: $body;
  text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke,
    2px 2px $stroke, -2px -2px $stroke, -2px 2px $stroke, 2px -2px $stroke,
    6px 6px $shadow;
}

.halftone {
  position: relative;
  width: fit-content;
  z-index: 2;

  &:after {
    // content: "Hello";
    background: $halftone repeat;
    // width: 100%;
    // letter-spacing: 6px;
    // left: 220px;
    left: calc(34.5% + 6px);
    // right: 0;
    // margin: 0 auto;
    position: absolute;
    opacity: 1;
    top: calc(40% + 6px);
    transform: translate(-50%, -50%);
    z-index: 3;
    @include stroke-width(0);
    @include background-clip(text);
    @include fill-color(transparent);
  }
}

.halftone-color {
  &:after {
    background-color: $shadow;
  }
}

:root {
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: #04cdec72;
  --color-text: white;
  --color-text-highlight: black;
  --page-width: 80ch;
  --paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
  --header-font-size: min(max(2rem, 8vw), 4rem);
  --space: 2rem;
  --padding: 8vmin;
  --duration: 1.8s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.text-highlight {
  all: unset;
  // display: block;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease),
    background-color calc(var(--duration) / 4) var(--ease),
    background-size var(--duration) var(--ease);

  &:hover {
    color: var(--color-text-highlight);
    background-size: 100% 100%;
  }

  & {
    background-image: linear-gradient(
      var(--bg-color-highlight),
      var(--bg-color-highlight)
    );
  }

  &::before,
  &::after {
    position: absolute;
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
  }

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }
}

.title-underline {
  @apply bg-gradient-to-r from-black to-black hover:from-accent hover:to-accent/80
 bg-no-repeat [background-position:0_108%] pt-1
 [background-size:100%_0.22em] px-1 hover:text-white
 motion-safe:transition-all motion-safe:duration-200
 hover:[background-size:100%_100%]
 focus:[background-size:100%_100%];
}

.flip {
  transform: scale(-1, 1);
}

// for expanding case-study imgs

// Blog Page -> BG IMG
.blog-wide-img {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transform: scale(0.78, 0.78);
}
// h-[28rem] bg-no-repeat bg-cover

.cai-breakImg-1 {
  background-image: url("/studies/CAI/Break1.png");
}

.cai-breakImg-2 {
  background-image: url("/studies/CAI/Break2.png");
}

.kalki-breakImg-1 {
  background-image: url("/studies/Kalki/Break1.jpeg");
}
.kalki-breakImg-2 {
  background-image: url("/studies/Kalki/Break2.jpg");
  background-position: 40% 60%;
}
.junos-breakImg-1 {
  background-image: url("/studies/Junos/Break1.jpg");
}
.junos-breakImg-2 {
  background-image: url("/studies/Junos/Break2.jpg");
}
.khelplay-breakImg-1 {
  background-image: url("/studies/Khel/Break1.webp");
  background-position: 40% 35%;
}

.khelplay-breakImg-2 {
  background-image: url("/studies/Khel/Break2.jpg");
}
.bayowl-breakImg-1 {
  background-image: url("/studies/BayOwl/Break1.jpg");
}

.bayowl-breakImg-2 {
  background-image: url("/studies/BayOwl/Break2.jpeg");
}

.framework-wrapper > * {
  flex: 1 1 100px !important;
}
